@media only screen and (max-width: 375px) {

    .display-text-0 {
        color: blue;
        z-index: 5;
        font-size:12px;
    }

    .mode {
        display: block;
        position: fixed;
        bottom: 50px;
        right: 50px;
        transform: rotateZ(180deg);
        z-index: 6;
    }

    .mode h2 {
        font-size: 16px;
        font-weight: bold;
        color:white;
    }

    .wrapper{
        
        overflow: scroll;
    }

    .top-row {
        margin-top: 30px;
    }

    /* .black-box {
        height: 300px;
        width:50%
    } */

    .black-box {
        position: relative;
        overflow: hidden;
        width: 50%;
        height: 3em;
        float: left;
        z-index: 3;
    }

    .black-box:hover {
        height: 250px;
    }

    .right {
        float:right
    }

    .abroad {
        width:220%;
        top: 0%;
        left: -50%;
    }

    .no-signal {
        width:170%;
        top: -115%;
        left: -15%;
    }
    .black-box:hover .no-signal {
        top: 0%;
        left: -30%;
        height:auto;
    }

    .rev {
        width: 180%;
        top: -125%;
        left: -25%;
    }

    .black-box:hover .rev {
        width:330%;
        top: -25%;
        left:-100%;
    }

    .syjuco {
        top: -45%;
        width:150%;
    }
    .black-box:hover .syjuco {
        left: -30%;
        top:0%;
    }

    .virgil {
        width:250%;
        left: -15%;
    }

    .pink-cover {
        top: 0%;
        left: -36%;
        width: 250%;
        height: auto;
    }

    .black-box:hover .pink-cover {
        height:94%;
        left:-36%;
    }

    .noise {
        width: 200%;
        height: auto;
    }

    .mars {
        top: -15%;
    }
    .black-box:hover .mars {
        top: -1%;
        height:500px;
    }

    .times-sq {
        width: 100%;
        top: -50%;
    }
    .black-box:hover .times-sq {
        height: 100%;
        top: 0%;
        width:auto;
    }


    .red-dead {
        width: 100%;
        top: -70%;
    }

    .black-box:hover .red-dead {
        top: 0%;
    }

    .score {
        width: 260%;
        left: -5%;
        top: -34%;
        /* width: auto; */
    }

    .black-box:hover .score {
        height: 100%;
        width: auto;
        left: -5%;
        top: -5%;

    }

    .seats {
        width: 110%;
        top: -10%;
    }
    .black-box:hover .seats {
        top: 0%;
    }
}